.circle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #aa55ff;
	margin: 0 auto;
	text-align: center;
	line-height: 100px;
	font-size: 10px;
	margin-top: 100px;

}

.img {
	width: 100vw;
	height: calc(100vh - 95px);
	background: url('https://img1.baidu.com/it/u=3269168638,2774577504&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=750') no-repeat;
	background-size: 100% 100%;
}

.my-balls {
	position: relative;
}

.high {
	position: absolute;
	width: 100px;
	height: 100px;
	background: #aaffff;
	border-radius: 50%;
	text-align: center;
	line-height: 80px;


}

.warp {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;

}

.rect {
	text-align: center;
	line-height: 120px;
	color: brown;
	//font-size: 20px;
	size: 100px
}

.Medium {
	position: absolute;
	width: 70px;
	height: 70px;
	background: #aaffff;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;

}

.low {
	position: absolute;
	width: 80px;
	height: 80px;
	background: #aaffff;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
}

.icon {
	text-align: center;
	line-height: 100px;
	height: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.btn {
	background-color: #ebf7fa;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


}
